*{
    font-family: 'Courier New', Courier, monospace;
}

main{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

img{
    width: 280px;
}

#button{
    margin-left: 60px;
}